In [2]:
def filter_even(number_list):
      result_list = []
      for number in number_list:
            if number % 2 == 0:
                  result_list.append(number)
      return result_list

In [3]:
even_list = filter_even([1,2,3,4,5,6,7])

In [4]:
even_list

[2, 4, 6]

As a programmer, you will spend most of your time writing and using functions. Python offers many features to make your functions powerful and flexible. Let's explore some of these by solving a problem:

> Radha is planning to buy a house that costs **`$1,260,000`**. She considering two options to finance her purchase:
>
> * Option 1: Make an immediate down payment of **`$300,000`**, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount.
> * Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount.
>
> Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?

Let's write a simple function that calculates the EMI on the entire cost of the house, assuming that the loan must be paid back in one year, and there is no interest or down payment.

In [7]:
def loan_emi(amount):
      emi = amount/12
      print("The EMI is ${:.2f}".format(emi))

In [8]:
loan_emi(1260000)

The EMI is $105000.00

In [1]:
def loan_emi(amount, duration):
      emi = amount/duration
      print("The EMI is ${:.2f}".format(emi))

Now, let's compare a 6-year loan vs a 10-year loan (assuming no down payment or interest)

In [2]:
loan_emi(1260000, 8*12)

The EMI is $13125.00

In [3]:
loan_emi(1260000, 10*12)

The EMI is $10500.00

In [14]:
def loan_emi(amount, duration):
      emi = amount/duration
      return emi

In [12]:
emi1 = loan_emi(1260000, 8*12)
emi2 = loan_emi(1260000, 10*12)

In [13]:
emi1

13125.0

In [15]:
emi2

10500.0

Next, let's add another argument to account for the immediate down payment. We'll make this an optional argument with a default value of 0.

In [16]:
def loan_emi(amount, duration, down_payment=0):
      loan_amount = amount - down_payment
      emi = loan_amount/duration
      return emi

In [17]:
emi1 = loan_emi(1260000, 8*12, 3e5)
emi1

10000.0

In [18]:
emi2 = loan_emi(1260000, 10*12, 0)
emi2

10500.0

Next, let's add the interest calculation into the function.

In [27]:
def loan_emi(amount, duration, rate, down_payment=0):
      loan_amount = amount - down_payment
      emi = (loan_amount * rate * (1+rate)**duration)/(((1+rate)**duration)-1)
      return emi

Let's calculate the EMI for option 1

In [28]:
loan_emi(1260000, 8*12, 0.1/12, 3e5)

14567.19753389219

While calculating the EMI for option 2, we need not include the `down_payment` argument.

In [31]:
loan_emi(1260000, 10*12,0.08/12)

15287.276888775077

Using the **`ceil`** function from the **`math`** module to round up numbers.

In [32]:
import math
math.ceil(1.25)

2

In [35]:
def loan_emi(amount, duration, rate, down_payment=0):
      loan_amount = amount - down_payment
      emi = (loan_amount * rate * (1+rate)**duration)/(((1+rate)**duration)-1)
      emi = math.ceil(emi)
      return emi

In [37]:
emi1 = loan_emi(amount=1260000, duration=8*12,
                rate=0.1/12, down_payment=3e5)
emi1

14568

##### Reusing and Improving Functions

Using the `loan_emi()` function to solve other problems

> **Q**: Shaun is currently paying back a home loan for a house he bought a few years ago. The cost of the house was `$800,000`. Shaun made a down payment of `25%` of the price. He financed the remaining amount using a 6-year loan with an interest rate of `7%` per annum (compounded monthly). Shaun is now buying a car worth `$60,000`, which he is planning to finance using a 1-year loan with an interest rate of `12%` per annum. Both loans are paid back in EMIs. What is the total monthly payment Shaun makes towards loan repayment?

This question is now straightforward to solve, using the `loan_emi` function we've already defined.

Then:

In [38]:
housePrice = 800000
house_downPayment = 0.25*housePrice
loanDuration = 6*12
loanRate = 0.07/12

In [39]:
house_EMI = loan_emi(housePrice, loanDuration,
                     loanRate, house_downPayment)
house_EMI

10230

Now:

In [40]:
carPrice = 60000
carDuration = 1*12
carRate = 0.12/12

In [41]:
car_EMI = loan_emi(amount=carPrice, duration=carDuration,
                   rate=carRate)
car_EMI

5331

In [42]:
print("Shaun makes a total monthly payment of ${} towards loan repayments".format(house_EMI+car_EMI))

Shaun makes a total monthly payment of $15561 towards loan repayments

##### Exceptions and **`try`**-**`except`**

> **Q**: If you borrow $100,000 using 10-year loan with an interest rate of 9% per annum, what is the total amount you end up paying as interest?

This can simply be gotten by subtracting the emi of the 10 year loan with interest from the emi of the 10 year loan with interest added.

In [44]:
emi_with_interest = loan_emi(amount=100000, duration=10*12,
                             rate=0.09/12)
emi_with_interest

1267

In [45]:
'''
emi_without_interest = loan_emi(amount=100000, duration=10*12,
                             rate=0)
emi_without_interest
'''

ZeroDivisionError: division by zero

Let's enhance the **`loan_emi()`** to be able to handle an interest rate of 0%

In [46]:
def loan_emi(amount, duration, rate, down_payment=0):
      loan_amount = amount - down_payment
      try:
            emi = (loan_amount * rate * (1+rate)**duration)/(((1+rate)**duration)-1)
      except ZeroDivisionError:
            emi = loan_amount/duration
      emi = math.ceil(emi)
      return emi

In [47]:
emi_without_interest = loan_emi(amount=100000, duration=10*12,
                             rate=0)
emi_without_interest

834

In [48]:
total_interest = (emi_with_interest - emi_without_interest)*12*10

In [49]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

Documenting functions using Docstrings

In [1]:
def loan_emi(amount, duration, rate, down_payment=0):
      '''
      Calculates the equal monthly installment (EMI) for a loan.
      
      Arguments:
            amount - Total amount to be spent (loan + down payment)
            duration - Duration of the loan (in months)
            rate - Rate of interest (monthly)
            down_payment (optional) - Option initial payment (deducted from amount)
      '''
      loan_amount = amount - down_payment
      try:
            emi = (loan_amount * rate * (1+rate)**duration)/(((1+rate)**duration)-1)
      except ZeroDivisionError:
            emi = loan_amount/duration
      emi = math.ceil(emi)
      return emi

In [4]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal monthly installment (EMI) for a loan.

    Arguments:
          amount - Total amount to be spent (loan + down payment)
          duration - Duration of the loan (in months)
          rate - Rate of interest (monthly)
          down_payment (optional) - Option initial payment (deducted from amount)

### Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [8]:
def cost_of_trip(returnFlight, hotelRate, carRentalCost, duration):
      '''
      A function that helps determine the cost of trip.
      
      Arguments:
            returnFlight - Cost of return flight ($)
            hotelRate - Hotel cost per day (days)
            carRentalCost - Weekly car rental cost ($)
            duration - Number of days spent (days)
      '''
      import math
      weeks = math.ceil(duration/7)
      weeklyCarRental = carRentalCost * weeks
      weeklyHotelCost = hotelRate * duration
      
      costOfTrip = returnFlight + weeklyHotelCost + weeklyCarRental
      
      return costOfTrip

In [9]:
help(cost_of_trip)

Help on function cost_of_trip in module __main__:

cost_of_trip(returnFlight, hotelRate, carRentalCost, duration)
    A function that helps determine the cost of trip.

    Arguments:
          returnFlight - Cost of return flight ($)
          hotelRate - Hotel cost per day (days)
          carRentalCost - Weekly car rental cost ($)
          duration - Number of days spent (days)

In [13]:
import pandas as pd

city = ['Paris', 'London', 'Dubai', 'Mumbai']
returnFlight = [200, 250, 370, 450]
hotelPerDay = [20, 30, 15, 10]
weeklyCarRental = [200, 120, 80, 70]

itinerary= {"City": city, 
            "Return Flight ($)": returnFlight,
            "Hotel per day ($)": hotelPerDay, 
            "Weekly Car Rental ($)": weeklyCarRental} 

itinerary_df = pd.DataFrame(itinerary)

In [14]:
itinerary_df

     City  Return Flight ($)  Hotel per day ($)  Weekly Car Rental ($)
0   Paris                200                 20                    200
1  London                250                 30                    120
2   Dubai                370                 15                     80
3  Mumbai                450                 10                     70

#### Question 1

In [51]:
def itineraryPlanner(duration):
      '''
      Helps you find the least expensive trip to go for
      
      Arguments:
            duration = how many days is the trip for? (days)
      '''
      
      ## creating dataset to judge from
      import pandas as pd

      city = ['Paris', 'London', 'Dubai', 'Mumbai']
      returnFlight = [200, 250, 370, 450]
      hotelPerDay = [20, 30, 15, 10]
      weeklyCarRental = [200, 120, 80, 70]

      itinerary= {"City": city, 
                  "Return Flight ($)": returnFlight,
                  "Hotel per day ($)": hotelPerDay, 
                  "Weekly Car Rental ($)": weeklyCarRental} 

      itinerary_df = pd.DataFrame(itinerary)
      
      i = 0
      costOfTrip = []
      place = []

      for city in itinerary_df["City"]:
            cost = cost_of_trip(returnFlight=itinerary_df.iloc[i,1],
                                    hotelRate=itinerary_df.iloc[i,2],
                                    carRentalCost=itinerary_df.iloc[i,3],
                                    duration=duration)
            place.append(city)
            costOfTrip.append(cost)
            i += 1
      df = pd.DataFrame({"City": place, "Cost of Trip": costOfTrip})
      df = df.sort_values(by="Cost of Trip", ignore_index=True)

      print("Your city of choice should be {} because you'd spend a total of ${} while there".format(df.iloc[0,0], df.iloc[0,1]))

itineraryPlanner(7)

Your city of choice should be Paris because you'd spend a total of $540 while there

#### Question 2

In [54]:
## If the trip is for 4 days

itineraryPlanner(duration=4)

Your city of choice should be Paris because you'd spend a total of $480 while there

In [55]:
## If the trip is for 10 days

itineraryPlanner(duration=10)

Your city of choice should be Dubai because you'd spend a total of $680 while there

In [56]:
## If the trip is for 2 weeks

itineraryPlanner(duration=2*7)

Your city of choice should be Mumbai because you'd spend a total of $730 while there

#### Question 3

In [91]:
def itineraryBudget(budget, maximize=True):
      '''
      Helps you find the trip that maximizes or minimizes your duration based
      on your budget
      
      Arguments:
            budget = budget in $
            maximize = 'True' if you want the trip with the max number of days per budget
                       'False' if you want the trip with the min duration per budget.
      '''
      
      ## creating dataset to work with
      import pandas as pd

      city = ['Paris', 'London', 'Dubai', 'Mumbai']
      returnFlight = [200, 250, 370, 450]
      hotelPerDay = [20, 30, 15, 10]
      weeklyCarRental = [200, 120, 80, 70]

      itinerary= {"City": city, 
                  "Return Flight ($)": returnFlight,
                  "Hotel per day ($)": hotelPerDay, 
                  "Weekly Car Rental ($)": weeklyCarRental} 

      itinerary_df = pd.DataFrame(itinerary)
      
      # creating empty lists and initial variables
      costOfTrip = []
      place = []
      time = []
      i = 0

      # iterating through the city 
      for city in itinerary_df["City"]:
            cost = 0
            duration = 1
            while cost <= budget:
                  cost = cost_of_trip(returnFlight=itinerary_df.iloc[i,1],
                                   hotelRate=itinerary_df.iloc[i,2],
                                   carRentalCost=itinerary_df.iloc[i,3],
                                   duration=duration)
                  duration += 1
            # since the returned cost and duration is more than what we want
            # we need to get the right ones
            duration -= 2
            cost = cost_of_trip(returnFlight=itinerary_df.iloc[i,1],
                                hotelRate=itinerary_df.iloc[i,2],
                                carRentalCost=itinerary_df.iloc[i,3],
                                duration=duration)
            costOfTrip.append(cost)
            place.append(city)
            time.append(duration)
            i += 1
      
      df = pd.DataFrame({"City": place,
                         "Cost of Trip ($)": costOfTrip,
                         "Duration (days)": time})
      
      if maximize == True:
            df = df.sort_values(by=["Duration (days)", "Cost of Trip ($)"], ignore_index=True, ascending=False)
            print("With a ${} budget, considering going to {} for {} days which costs ${}"\
                  .format(budget, df.iloc[0,0], df.iloc[0,2], df.iloc[0,1]))
      else:
            df = df.sort_values(by=["Duration (days)", "Cost of Trip ($)"], ignore_index=True, ascending=True)
            print("With a ${} budget, considering going to {} for {} days which costs ${}"\
                  .format(budget, df.iloc[0,0], df.iloc[0,2], df.iloc[0,1]))

In [96]:
itineraryBudget(1000, maximize=True)

With a $1000 budget, considering going to Mumbai for 27 days which costs $1000

In [97]:
itineraryBudget(1000, maximize=False)

With a $1000 budget, considering going to Paris for 14 days which costs $880

#### Question 4

In [94]:
itineraryBudget(600, maximize=True)

With a $600 budget, considering going to Mumbai for 7 days which costs $590

In [95]:
itineraryBudget(600, maximize=False)

With a $600 budget, considering going to Paris for 7 days which costs $540

In [90]:
itineraryBudget(2000, maximize=True)

     City  Cost of Trip ($)  Duration (days)
0  Mumbai              1990               77
1   Dubai              1990               60
2   Paris              1900               35
3  London              1900               35
With a $2000 budget, considering going to Mumbai for 77 days which costs $1990

In [73]:
itineraryBudget(2000, maximize=False)

With a $2000 budget, considering going to Paris for 35 days which costs $1900

In [74]:
itineraryBudget(1500, maximize=True)

With a $1500 budget, considering going to Mumbai for 49 days which costs $1430

In [100]:
itineraryBudget(1500, maximize=False)

With a $1500 budget, considering going to London for 25 days which costs $1480