### Interacting with the OS and the filesystem

In [1]:
import os

In [2]:
os.getcwd()

'c:\\Users\\Cyriaque Matthews\\Documents\\Data Science\\Python Scripts\\Jovia.ai\\Data Analysis with Python_Zero to Pandas'

In [7]:
os.listdir("..")

['Data Analysis with Python_Zero to Pandas',
 'GoogleTest.ipynb',
 'Lesson1_Linear Regression with SciKit Learn.ipynb',
 'log.txt',
 'medical.csv',
 'zatanna.txt']

In [12]:
os.listdir("C:\\Users\\Cyriaque Matthews\\Documents\\Data Science")

['datasets',
 'Internships',
 'Power BI',
 'Project Reviews + Repos',
 'Projects',
 'Python Scripts',
 'Textbooks']

In [13]:
os.listdir(".")

['L1.functions and scope.ipynb',
 'L1.os and filesystem.ipynb',
 'L1.python branching and loops.ipynb']

In [20]:
os.makedirs('./data', exist_ok=True)

In [21]:
"data" in os.listdir(".")

True

In [22]:
os.listdir("./data")

[]

In [23]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [115]:
from urllib.request import urlretrieve

In [29]:
urlretrieve(url1, "./data/loans1.txt")
urlretrieve(url2, "./data/loans2.txt")
urlretrieve(url3, "./data/loans3.txt")

('./data/loans3.txt', <http.client.HTTPMessage at 0x6bbf970>)

In [30]:
os.listdir("./data")

['loans1.txt', 'loans2.txt', 'loans3.txt']

### Reading from a file

The `open` function also accepts a `mode` argument to specifies how we can interact with the file. The following options are supported:

```
    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)
    ========= ===============================================================
```

To view the contents of the file, we can use the `read` method of the file object.

In [3]:
file1 = open("./data/loans1.txt", mode="r")

In [4]:
file1_contents = file1.read()

In [5]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [6]:
file1.close()

In [51]:
# file1.read()

ValueError: I/O operation on closed file.

### Closing files automatically using **`with`**

In [7]:
with open("./data/loans2.txt") as file2:
      file2_contents = file2.read()
      print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

### Reading a file line by line

In [8]:
with open('./data/loans3.txt', 'r') as file3:
      file3_lines = file3.readlines()

In [9]:
file3_lines

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

### Processing data from files

Let's create a function that can process `loans1.txt`. The function should be able to 

1. Read the file line by line
1. Parse the first line to get a list of the column names or headers
1. Split each remaining line and convert each value into a float
1. Create a dictionary for each column using the headers as keys
1. Create a list of dictionaries to keep track of all the loans

In [28]:
# Let's define a function that takes a line as input and returns a list of column headers
def parse_headers(header_line):
      return header_line.strip().split(",")

In [29]:
file3_lines[0]

NameError: name 'file3_lines' is not defined

In [12]:
headers = parse_headers(file3_lines[0])
headers

['amount', 'duration', 'rate', 'down_payment']

In [30]:
# let's define a function that takes a line containing some data and returns
# a list of floating-point numbers.

def parse_values(data_line):
      values = []
      for item in data_line.strip().split(","):
            values.append(float(item))
      return values

In [24]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [29]:
parse_values(file3_lines[1])

[45230.0, 48.0, 0.07, 4300.0]

Let's try it with another line from the file. One which doesn't contain a value for the down payment.

In [27]:
file3_lines[2]

'883000,16,0.14,\n'

In [32]:
# parse_values(file3_lines[2])

ValueError: could not convert string to float: ''

The above code leads to a `ValueError` because the empty string `''` cannot be converted to a float. We can enhance the `parse_values` function to handle this case and any other string.

In [31]:
def parse_values(data_line):
      values = []
      for item in data_line.strip().split(","):
            if item == '':
                  values.append(0.0)
            else:
                  try:
                        values.append(float(item))
                  except ValueError:
                        values.append(item)
      return values

In [38]:
file3_lines[2]

'883000,16,0.14,\n'

In [39]:
parse_values(file3_lines[2])

[883000.0, 16.0, 0.14, 0.0]

Next, let's define a function `create_item_dict` that takes a list of headers as inputs and returns a dictionary with the values associated with their respective headers as keys.

In [32]:
def create_item_dict(values, headers):
      result = {}
      for value, header in zip(values, headers):
            result[header] = value
      return result

Do you remember what the `zip` Python built-in function does?

In [45]:
for item in zip([1,2,3], ['a', 'b', 'c']):
      print(item)

(1, 'a')
(2, 'b')
(3, 'c')

Let's try out `create_item_dict` with a couple of examples.

In [46]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [51]:
values1 = parse_values(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

Now let's put it all together and define the `read_csv` function.

In [33]:
def read_csv(path):
      result = []
      # open the file in read mode
      with open(path, 'r') as f:
            # get a list of lines
            lines = f.readlines()
            # parse the header
            headers = parse_headers(lines[0])
            # loop over the remaining lines
            for data_line in lines[1:]:
                  # parse the values
                  values = parse_values(data_line)
                  # create a dictionary using the values & headers
                  item_dict = create_item_dict(values, headers)
                  # add the dictionary to the result
                  result.append(item_dict)
      return result

In [54]:
with open("./data/loans2.txt") as file2:
      print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [55]:
read_csv("./data/loans2.txt")

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [56]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [59]:
loans2 = read_csv("./data/loans2.txt")
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [60]:
for loan in loans2:
      loan['emi'] = loan_emi(amount=loan["amount"],
                             duration=loan['duration'],
                             rate=loan['rate']/12,
                             down_payment=loan['down_payment'])

In [61]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [21]:
def compute_emis(loans):
      for loan in loans2:
            loan['emi'] = loan_emi(amount=loan["amount"],
                                   duration=loan['duration'],
                                   rate=loan['rate']/12,
                                   down_payment=loan['down_payment'])

### Writing to files

We can create/open a file in `w` mode using `open` and write to it using the `.write` method. The string `format` method will come in handy here.

In [64]:
loans2 = read_csv('./data/loans2.txt')
compute_emis(loans2)
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [68]:
with open("./data/emis2.txt", 'w') as f:
      for loan in loans2:
            f.write("{},{},{},{},{}\n".format(
                  loan['amount'],
                  loan['duration'],
                  loan['rate'],
                  loan['down_payment'],
                  loan['emi']
            ))

In [66]:
os.listdir('data')

['emis2.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

In [67]:
with open("./data/emis2.txt", "r") as f:
      print(f.read())

828400.0,120.0,0.11,100000.0,10034
4633400.0,240.0,0.06,0.0,33196
42900.0,90.0,0.08,8900.0,504
983000.0,16.0,0.14,0.0,67707
15230.0,48.0,0.07,4300.0,262

Let's define a generic function `write_csv` which takes a list of dictionaries and writes it to a file in csv format. We will also include the column headers in the first line.

In [22]:
def write_csv(items, path):
      # open the file in write mode
      with open(path, 'w') as f:
            # return if there's nothing to write
            if len(items) == 0:
                  return
            
            # write the headers in the first line
            headers = list(items[0].keys())
            f.write(",".join(headers) + '\n')
            
            # write one item per line
            for item in items:
                  values = []
                  for header in headers:
                        values.append(str(item.get(header, "")))
                  f.write(",".join(values) + "\n")

In [109]:
loans3 = read_csv("./data/loans3.txt")

In [110]:
compute_emis(loans3)

In [111]:
write_csv(items=loans3, path="./data/emis3.txt")

In [112]:
with open("./data/emis3.txt") as f:
      print(f.read())

amount,duration,rate,down_payment
45230.0,48.0,0.07,4300.0
883000.0,16.0,0.14,0.0
100000.0,12.0,0.1,0.0
728400.0,120.0,0.12,100000.0
3637400.0,240.0,0.06,0.0
82900.0,90.0,0.07,8900.0
316000.0,16.0,0.13,0.0
15230.0,48.0,0.08,4300.0
991360.0,99.0,0.08,0.0
323000.0,27.0,0.09,4720010000.0
528400.0,120.0,0.11,100000.0
8633400.0,240.0,0.06,0.0
12900.0,90.0,0.08,8900.0

### Using Pandas to Read and Write CSVs

Let's look at the issue with the `read_csv()` and `write_csv()` functions that we defined.

In [113]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [116]:
urlretrieve(movies_url, "data/movies.csv")

('data/movies.csv', <http.client.HTTPMessage at 0x54fefb8>)

In [117]:
movies = read_csv('data/movies.csv')

In [118]:
movies

[{'title': 'Fast & Furious', 'description': '"A movie'},
 {'title': 'The Dark Knight', 'description': '"Gotham'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

As you can see above, the movies descriptions weren't parsed properly.

In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("./data/movies.csv")

In [3]:
movies_df

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

A dataframe can be converted into a list of dictionaries using the `to_dict` method

In [13]:
# a list of dictionaries
movies = movies_df.to_dict("records")
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [18]:
# if you don't pass the argument `records`, you'll get
# a dictionary of disctionries
movies_df.to_dict()

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

In [25]:
write_csv(movies, "movies2.csv")

In [35]:
with open("./data/movies2.csv") as f:
      print(f.read())

title,description
Fast & Furious,A movie, a race, a franchise
The Dark Knight,Gotham, the "Batman", and the Joker
Memento,A guy forgets everything every 15 minutes

As you can see above the CSV file is not formatted properly. This can be verified by attempting to read the file using `pd.read_csv`

In [38]:
pd.read_csv("./data/movies2.csv")

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN

In [42]:
df2 = pd.DataFrame(movies)
df2

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [47]:
df2.to_csv("./data/movies3.csv", index=None)

In [48]:
with open("./data/movies3.csv") as f:
      print(f.read())

title,description
Fast & Furious,"A movie, a race, a franchise"
The Dark Knight,"Gotham, the ""Batman"", and the Joker"
Memento,A guy forgets everything every 15 minutes

### Exercise - Processing CSV files using a dictionary of lists


We defined the functions `read_csv` and `write_csv` above to convert a CSV file into a list of dictionaries and vice versa. In this exercise, you'll transform the CSV data into a dictionary of lists instead, with one list for each column in the file.

For example, consider the following CSV file:

```
amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300
```

We'll convert it into the following dictionary of lists:

```
{
  amount: [828400, 4633400, 42900, 983000, 15230],
  duration: [120, 240, 90, 16, 48],
  rate: [0.11, 0.06, 0.08, 0.14, 0.07],
  down_payment: [100000, 0, 8900, 0, 4300]
}
```

Complete the following tasks using the empty cells below:

1. Download three CSV files to the folder `data2` using the URLs listed in the code cell below, and verify the downloaded files.
2. Define a function `read_csv_columnar` that reads a CSV file and returns a dictionary of lists in the format shown above. 
3. Define a function `compute_emis` that adds another key `emi` into the dictionary with a list of EMIs computed for each row of data.
4. Define a function `write_csv_columnar` that writes the data from the dictionary of lists into a correctly formatted CSV file.
5. Process all three downloaded files and write the results by creating new files in the directory `data2`.

Define helper functions wherever required.

#### Question 1

In [1]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [4]:
from urllib.request import urlretrieve
import os

In [6]:
os.mkdir("./data2")

In [7]:
urlretrieve(url1, "./data2/loans1.txt")
urlretrieve(url2, "./data2/loans2.txt")
urlretrieve(url3, "./data2/loans3.txt")

('./data2/loans3.txt', <http.client.HTTPMessage at 0x1d4203746d0>)

#### Question 2

In [11]:
def fileReadLines(path):
      # to read each line of the csv
      with open(path, "r") as f:
            lines = f.readlines()
      return lines

In [24]:
def parseHeader(lines):
      # we're interested in the first line
      item = lines[0]
      # remove the "\n" at the end and split by commas
      headers = item.strip().split(",")
      return headers

In [89]:
def parseValues(lines):
      # we're now interested in the remaining lines
      items = lines[1:]
      # iterating over the lines and stripping it
      values = []
      for item in items:
            line = item.strip().split(",")
            # empty list to store the float type variables
            value = []
            # converting strings in the list to float
            for iter in line:
                  try:
                        value.append(float(iter))
                  except ValueError:
                        if iter == "":   #float of "" gives and error
                              value.append(0.0)
                        else:
                              value.append(iter)
            values.append(value)
      return values

In [101]:
for i,j in enumerate(parseHeader(a)):
      print("{}, {}".format(i,j))

0, amount
1, duration
2, rate
3, down_payment

In [312]:
def createDictionary(headers, values):
      # function for creating a dictionary based on headers and values
      # create an empty dictionary
      results = {}
      # iterating through the headers
      for num,name in enumerate(headers):
            content = []
            # getting the column values for each header
            for i in range(len(values)):
                  content.append(values[i][num])
            # adding key-value pair to dictionary
            results[name] = content
      return results

In [307]:
for i in range(len(headers)):
      print(i, headers[i])

0 amount
1 duration
2 rate
3 down_payment

In [309]:
def read_csv_columnar(path):
      # readlines of the csv file
      lines = fileReadLines(path)
      # get the headers of the csv
      headers = parseHeader(lines)
      # get the values
      values = parseValues(lines)
      # create dictionary
      csvColumnar = createDictionary(headers, values)
      
      return csvColumnar

In [310]:
a = read_csv_columnar("./data2/loans1.txt")

In [313]:
print(a)

{'amount': [100000.0, 200000.0, 628400.0, 4637400.0, 42900.0, 916000.0, 45230.0, 991360.0, 423000.0], 'duration': [36.0, 12.0, 120.0, 240.0, 90.0, 16.0, 48.0, 99.0, 27.0], 'rate': [0.08, 0.1, 0.12, 0.06, 0.07, 0.13, 0.08, 0.08, 0.09], 'down_payment': [20000.0, 0.0, 100000.0, 0.0, 8900.0, 0.0, 4300.0, 0.0, 47200.0]}

#### Question 3

In [272]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [300]:
def compute_emis(data):
      ## function to calculate emi
      # create empty list
      emi = []
      # counter to iterate through the values in the dictionary
      i = 0
      for n in data['amount']:
            amount = n
            duration = data.get("duration")[i] * 12
            rate = data.get("rate")[i]/12
            down_payment = data.get("down_payment")[i]
            # increasing counter
            i += 1
            # calculating emi
            compEMI = loan_emi(amount, duration, rate, down_payment)
            # appending emi into list
            emi.append(compEMI)
      # creating new key-values pair in dictionary
      data['emi'] = emi
      
      return data

In [397]:
'''
def write_csv(items, path):
      # open the file in write mode
      with open(path, 'w') as f:
            # return if there's nothing to write
            if len(items) == 0:
                  return
            
            # write the headers in the first line
            headers = list(items[0].keys())
            f.write(",".join(headers) + '\n')
            
            # write one item per line
            for item in items:
                  values = []
                  for header in headers:
                        values.append(str(item.get(header, "")))
                  f.write(",".join(values) + "\n")
''' 
                 
def write_csv_columnar(items, path):
      # open the file in write mode
      with open(path, "w") as f:
            # return if there's nothing to write
            if len(items) == 0:
                  return
            
            # write the headers in the first line
            headers = list(items.keys())
            f.write(",".join(headers)+"\n")
            
            # write one item per line
            for n in range(len(items["amount"])):
                  amount = items['amount'][n]
                  duration = items['duration'][n]
                  rate = items['rate'][n]
                  down_payment = items['down_payment'][n]
                  emi = items['emi'][n]
                  # converting the variables from float to string type
                  line = [str(amount), str(duration), str(rate),
                          str(down_payment), str(emi)]
                  value = ",".join(line) + "\n"
                  f.write(value)

In [399]:
write_csv_columnar(a, "./data2/testing.txt")